// Variables

$Light-Cyan: hsl(193, 38%, 86%);
$Neon-Green: hsl(150, 100%, 66%);

$Grayish-Blue: hsl(217, 19%, 38%);
$Dark-Grayish-Blue: hsl(217, 19%, 24%);
$Dark-Blue: hsl(218, 23%, 16%);

// Global Rules

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 28px;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: $Dark-Blue;
}

h1 {
  position: absolute;
  display: none;
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
  min-height: 312.8px;
  background-color: $Dark-Grayish-Blue;
  display: grid;
  place-items: center;
  gap: 20px;
  padding: 40px 30px 60px;
  border-radius: 15px;
  box-shadow: 10px 20px 40px 10px $Dark-Blue, 10px 15px 40px -5px #1c2028;

  .advice_id {
    text-transform: uppercase;
    color: $Neon-Green;
    font-size: 14px;
    letter-spacing: 5px;

    span {
      font-size: inherit;
    }
  }

  .advice_content {
    p {
      position: relative;
      text-align: center;
      color: $Light-Cyan;
      transition: .2s;

      &::before,
      &::after {
        position: absolute;
        color: $Light-Cyan;
      }

      &::before {
        content: open-quote;
        transform: translateX(-15px);
      }
      &::after {
        content: close-quote;
      }
    }
  }

  button {
    position: absolute;
    background-color: $Neon-Green;
    padding: 20px;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      box-shadow: 0 0 30px 2px $Neon-Green;
    }

    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 767px) {
  main {
    width: 95%;
  }
}